NODE_ENV=development

# ---Gateway---
GATEWAY_PORT=

# ---Microservices hosts and ports---

PROJECTS_SERVICE_HOST=
PROJECTS_SERVICE_PORT=

SESSIONS_SERVICE_HOST=
SESSIONS_SERVICE_PORT=

EXPORT_SERVICE_HOST=
EXPORT_SERVICE_PORT=

STORAGE_SERVICE_HOST=
STORAGE_SERVICE_PORT=
