NODE_ENV=development

# ---Gateway---
GATEWAY_PORT=

# ---Microservices hosts and ports---

PROJECTS_SERVICE_HOST=
PROJECTS_SERVICE_PORT=

SESSIONS_SERVICE_HOST=
SESSIONS_SERVICE_PORT=

EXPORT_SERVICE_HOST=
EXPORT_SERVICE_PORT=

STORAGE_SERVICE_HOST=
STORAGE_SERVICE_PORT=

# ---Postgres---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=postgres://<user>:<password>@<host>:5432/<db name>

# ---Redis---
REDIS_HOST=redis
REDIS_PORT=6379

REDIS_CACHE_DB=0
REDIS_WS_DB=1
