@import "tailwindcss";

/*Если в вашей IDE @theme подсвечивается красным, то не переживайте. Это ок.*/
/*Просто вебшторм так крут, что ещё не умеет хавать все новые штуки tailwind.v4*/
/*А для vs code есть специальный плагин.*/
@theme {
    --color-purple: #3f3cbb;
    --color-midnight: #121063;
    --color-mint-500: oklch(0.486 0.119 22.533);
}